@font-face {
    font-family: "Comforter";
    src: local("Comforter"),
        url(../fonts/Comforter\,Inter\,Montserrat/Comforter/Comforter-Regular.ttf) format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url(../fonts/Comforter\,Inter\,Montserrat/Inter/static/Inter-Black.ttf) format("truetype");
    font-weight: 900;

}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
        url(../fonts/Comforter\,Inter\,Montserrat/Montserrat/static/Montserrat-Black.ttf) format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
        url(../fonts/Comforter\,Inter\,Montserrat/Montserrat/static/Montserrat-SemiBold.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
        url(../fonts/Comforter\,Inter\,Montserrat/Montserrat/static/Montserrat-Bold.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
        url(../fonts/Comforter\,Inter\,Montserrat/Montserrat/static/Montserrat-ExtraBold.ttf) format("truetype");
    font-weight: 700;
}