@import url("fonts.css");

:root {
    --favcolor: rgb(237, 100, 89);
    --black: rgb(28, 27, 32);
}

html,
body {
    margin: 0px;
    height: 100vh;
}

/*----------------- HEADER -----------------*/

.header {
    height: 100vh;
    position: relative;
    background: linear-gradient(
        95deg,
        var(--favcolor) 49.9%,
        rgb(240, 240, 240) 50%
    );
}

.hello {
    color: var(--black);
    position: absolute;
    top: 33%;
    width: 100%;
    text-align: center;
}

#hello {
    font: 3vmax "Inter";
    font-weight: 900;
}

#iam {
    font: 4.5vmax "Inter";
    font-weight: 900;
}

#typer {
    font-size: 1.7vmax;
    color: var(--black);
}

.icons {
    position: absolute;
    width: 30%;
    bottom: 5vh;
    left: 5vw;
    font-size: 3vmin;
    display: flex;
}

.icons a {
    color: rgb(240, 240, 240);
    margin: 0 2vw;
    transition: all 0.2s ease-in-out;
}

.icons a:hover {
    transform: scale(1.5);
    color: var(--black);
}

.more-about {
    position: absolute;
    bottom: 5vh;
    right: 7vw;
    font: 1.5vmax "Inter";
    font-weight: 900;
}

.fav-button ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fav-button li {
    display: inline-block;
}

.fav-button span {
    position: relative;
    display: block;
    cursor: pointer;
    color: var(--black);

    display: inline-block;
    padding-bottom: 0.2vmax;
    background-image: linear-gradient(#000, #000);
    background-position: left bottom;
    background-size: 100% 0.2vmax;
    background-repeat: no-repeat;
    transition: background-size 0.5s;
}

.fav-button span:before,
.fav-button span:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0.8vh;
    top: 35%;
    margin-top: -0.5px;
    background: var(--favcolor);
    opacity: 0.5;
}

.fav-button span:after {
    right: 1vw;
    background: var(--favcolor);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.fav-button span:hover:before {
    background: var(--favcolor);
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.fav-button span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

.fav-button span:hover {
    background-position: 100% bottom;
    background-size: 0% 0.2vmax;
}

@media screen and (max-width: 600px) {
    html,
    body {
        background-color: rgb(240, 240, 240);
    }
}

@media screen and (min-width: 600px) {
    html,
    body {
        border-left: 1.5vw solid white;
        border-right: 1.5vw solid white;
    }

    body:before,
    body:after {
        content: "";
        position: fixed;
        background: white;
        left: 0;
        right: 0;
        height: 2.5vw;
        z-index: 1;
    }

    body:before {
        top: 0;
    }

    body:after {
        bottom: 0;
    }

    .more-about {
        bottom: 9vh;
    }

    .icons {
        bottom: 9vh;
    }
}

/*----------------- ABOUT -----------------*/

.about {
    background-color: rgb(240, 240, 240);
    position: relative;
    height: 120vh;
}

.about-header {
    position: absolute;
    top: 7vh;
    left: 10vw;
}

.about-header h1 {
    font: 11vmin "Montserrat";
    color: var(--favcolor);
    font-weight: 900;
    line-height: 0.8em;
}

.introduction {
    left: 10vw;
    top: 37vh;
    position: absolute;
    width: 30vw;
}

.introduction h3 {
    font: 2vmax "Montserrat";
    font-weight: 900;
}

.introduction p {
    margin-top: 4vh;
    font: 1.2vmax "Montserrat";
    color: rgb(125, 125, 125);
    font-weight: 500;
    line-height: 2.9vh;
}

#handwritten-me {
    font: 3.5vmax "Comforter";
    line-height: 1vw;
}

.about img {
    width: 25vmin;
    position: absolute;
    right: 15vw;
    top: 7vh;
    transition: 0.2s ease-in-out;
    border: 5px solid var(--favcolor);
    border-radius: 50%;
}

.about img:hover {
    transform: scale(1.2);
}

.skills {
    width: 50vw;
    height: 70vh;
    background-color: var(--black);
    border-radius: 1%;
    position: absolute;
    right: 0;
    top: 37vh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    box-sizing: border-box;
}

.skills div h3 {
    font: 1.1em "Montserrat";
    color: rgb(240, 240, 240);
    line-height: 4vh;
}

.skills div p {
    font: 0.95em "Montserrat";
    color: rgb(90, 90, 90);
}

.programming,
.tools {
    position: relative;
    left: 25%;
    top: 25%;
    width: 15vw;
}

.languages,
.interests {
    position: relative;
    left: 25%;
    top: 15%;
    width: 15vw;
    height: 25vh;
}

.display-resume {
    font: 1.5vmax "Inter";
    color: var(--black);
}

.info-container {
    top: 30vh;
    margin: 4vh 0;
}

.info {
    margin-bottom: 2vh;
}

.info h5 {
    font: 1rem "Montserrat";
    font-weight: 600;
    margin: 0;
}

.info p {
    font: 0.9rem "Montserrat";
    font-weight: 400;
    margin: 0;
    margin-top: 0.5vh;
}

.info a {
    text-decoration: none !important;
}

.info a p {
    transition: all 0.2s ease-in-out;
}

.info a p:hover {
    color: var(--favcolor);
}

@media screen and (max-width: 605px) {
    .about {
        height: 125vh;
    }

    .about-header {
        top: 6vh;
    }

    .about img {
        position: absolute;
        right: 15vw;
        top: 6vh;
        border: 3px solid var(--favcolor);
    }

    .introduction {
        top: 23vh;
        left: 10vw;
        width: 80%;
    }

    .introduction h3 {
        font-size: 2.6vh;
    }

    .introduction p {
        margin-top: 1vh;
    }

    .info-container {
        top: 15vh;
    }

    .info h5 {
        margin: 0;
        font-size: 3.3vw;
    }

    .info p {
        margin: 0;
        margin-top: 0.5vh;
        font-size: 3.3vw;
    }

    .display-resume {
        top: 43vh;
        width: 100%;
        text-align: center;
        margin-top: 5vh;
    }

    .skills {
        top: 78vh;
        width: 100%;
        border-radius: 0%;
        height: 50vh;
    }

    .programming,
    .tools {
        position: relative;
        top: 25%;
        width: 15vw;
    }

    .languages,
    .interests {
        top: 10%;
        width: 15vw;
        height: 22vh;
    }

    .skills div p {
        margin-bottom: 1vh;
        width: 20vw;
        font-size: 0.7em;
    }

    .skills div h3 {
        font-size: 0.7em;
    }
}

/*----------------- EXPERIENCE & EDUCATION -----------------*/

.more {
    position: relative;
    background-color: rgb(240, 240, 240);
    height: 100vh;
}

.more h3 {
    text-align: right;
    font: 2vmax "Montserrat";
    font-weight: 900;
    margin-right: 10vw;
    width: 100vw;
    position: absolute;
    right: 0;
    top: 34vh;
}

.more-header {
    position: absolute;
    left: 10vw;
    top: 7vh;
}

.more-header h1 {
    font: 11vmin "Montserrat";
    color: var(--black);
    font-weight: 900;
    line-height: 0.8em;
}

.experience-education {
    position: inherit;
    top: 45vh;
    display: flex;
    gap: 10vw;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.info-class {
    width: 40vw;
}

.info-class h4 {
    font-weight: 700;
    color: var(--favcolor);
    margin-bottom: 3vh;
}

.info-class h6 {
    color: var(--black);
}

.info-content h6 {
    font-weight: 700;
}

.info-kind h6 {
    font-weight: 600;
}

.info-kind p {
    font-style: italic;
}

.info-class p {
    margin-bottom: 5vh;
}

.info-class-container {
    display: inline-flex;
}

.experience {
    text-align: right;
}

.education {
    text-align: left;
}

.experience .info-class-container {
    text-align: right;
}

.education .info-class-container {
    text-align: left;
}

.info-kind {
    width: 12vw;
}

.info-icon {
    width: 2.5vmin;
    height: 2.5vmin;
    font-size: 1.5vmin;

    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(240, 240, 240);
    background-color: var(--black);
    border-radius: 50%;
}

.info-content {
    width: 20vw;
}

.education .info-class-container .info-content {
    text-align: left;
    padding-right: 2vw;
}

.education .info-class-container .info-icon {
    text-align: center;
    margin-left: 3vw;
}

.education .info-class-container .info-kind {
    text-align: left;
    margin-left: 2vw;
}

.experience .info-class-container .info-content {
    text-align: right;
    padding-left: 2vw;
}

.experience .info-class-container .info-icon {
    text-align: center;
    margin-right: 3vw;
}

.experience .info-class-container .info-kind {
    text-align: right;
    margin-right: 2vw;
}

.vl {
    border-left: 0.1vw solid rgba(0, 0, 0, 0.3);
    margin-bottom: 5vh;
}

@media screen and (max-width: 690px) {
    .more {
    }

    .experience-education {
        display: block;
        top: 32vh;
    }

    .more h3 {
        top: 25vh;
    }

    .info-class {
        margin: 0;
        width: 100%;
        padding: 0 10vw;
    }

    .info-class-container {
        width: 80vw;
    }

    .education .info-class-container {
        flex-direction: row-reverse;
        justify-content: left;
    }

    .info-kind {
        width: 27vw;
    }

    .info-content {
        width: 53vw;
    }

    .info-icon {
        display: none !important;
    }

    .info-class h4 {
        text-align: left;
    }

    .education .info-class-container .info-content {
        text-align: right;
        padding-right: 0;
    }

    .education .info-class-container .info-kind {
        text-align: left;
        margin: 0;
    }

    .experience .info-class-container .info-content {
        text-align: right;
    }

    .experience .info-class-container .info-kind {
        text-align: left;
    }
}

/*----------------- EXPERIENCE & EDUCATION -----------------*/
