@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");

html,
body {
    margin: 0px;
    height: 100vw;
    border: 2vh solid white;
}

.header {
    height: 92vh;
    position: relative;
    background: linear-gradient(
        95deg,
        rgb(237, 100, 89) 50%,
        rgb(240, 240, 240) 50%
    );
}

.hello {
    color: rgb(28, 27, 32);
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}

#hello {
    font: 2.2em "Inter";
    font-weight: 900;
}

#iam {
    font: 4em "Inter";
    font-weight: 900;
}

#typer {
    font-size: 1.3em;
}
