@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Montserrat:wght@900&display=swap&family=Comforter&display=swap");

:root {
    --favcolor: rgb(237, 100, 89);
    --black: rgb(28, 27, 32);
}

html,
body {
    margin: 0px;
}

/*----------------- HEADER -----------------*/

@media screen and (min-width: 600px) {
    .header {
        border: 3.5vmin solid white;
    }
}

.header {
    height: 100vh;
    position: relative;
    background: linear-gradient(
        95deg,
        var(--favcolor) 49.9%,
        rgb(240, 240, 240) 50%
    );
}

#mail,
#location {
    position: absolute;
    top: -2.7vmin;
    font: 1vmax "Inter";
    color: rgb(48, 48, 48);
    font-weight: 700;
}

#location {
    left: 0vw;
}

#mail {
    right: 0vw;
    text-decoration: none !important;
}

#mail:hover {
    color: var(--favcolor);
}

.hello {
    color: var(--black);
    position: absolute;
    top: 33%;
    width: 100%;
    text-align: center;
}

#hello {
    font: 3vmax "Inter";
    font-weight: 900;
}

#iam {
    font: 4.5vmax "Inter";
    font-weight: 900;
}

#typer {
    font-size: 1.7vmax;
    color: var(--black);
}

.icons {
    position: absolute;
    width: 30%;
    bottom: 5vh;
    left: 5vw;
    font-size: 3vmin;
    display: flex;
}

.icons a {
    color: rgb(240, 240, 240);
    margin: 0 2vw;
    transition: all 0.2s ease-in-out;
}

.icons a:hover {
    transform: scale(1.5);
    color: var(--black);
}

.more-about-button {
    position: absolute;
    bottom: 5vh;
    right: 5vw;
    font: 1.5vmax "Inter";
    font-weight: 900;
}

#more-button-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#more-button-li {
    display: inline-block;
    padding: 0 20px;
}

#more-button-span {
    position: relative;
    display: block;
    cursor: pointer;
    color: var(--black);

    display: inline-block;
    padding-bottom: 0.2vmax;
    background-image: linear-gradient(#000, #000);
    background-position: left bottom;
    background-size: 100% 0.2vmax;
    background-repeat: no-repeat;
    transition: background-size 0.5s;
}

#more-button-span:before,
#more-button-span:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0.8vh;
    top: 35%;
    margin-top: -0.5px;
    background: var(--favcolor);
    opacity: 0.5;
}

#more-button-span:after {
    right: 1vw;
    background: var(--favcolor);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#more-button-span:hover:before {
    background: var(--favcolor);
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#more-button-span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

#more-button-span:hover {
    background-position: 100% bottom;
    background-size: 0% 0.2vmax;
}

/*----------------- ABOUT -----------------*/

.about {
    background-color: rgb(240, 240, 240);
    position: relative;
    height: 100vh;
}

.about-header {
    position: absolute;
    top: 15%;
    left: 15%;
}

.about-header h1 {
    font: 7vh "Montserrat";
    color: var(--favcolor);
    font-weight: 900;
    line-height: 0.8em;
}

.introduction h3 {
    font: 2vw "Montserrat";
}

#handwritten-me {
    font: 3.5vw "Comforter";
}
